body {
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(1, 48, 1);
}

code {
  font-family: Arial;
}

h1 {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: White;
  background-color: rgb(1, 48, 1);
  text-align: center;
}

.app {
  background: rgb(1, 48, 1);
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background: saddlebrown;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  align-items: center;
  
}

.todo{
  background: saddlebrown;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: sandybrown;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
  text-align: center;
  
}